/build

.idea
.claude
.codex
/deps
/dist-windows
/build-windows/
/cache_dir/

/scripts/*.safetensors
/scripts/*/*
/models/*/*.onnx
/models/*/*.data
/models/*/*.safetensors
/image-generation-windows.zip
/image-generation-windows-cuda.zip
/image-generation-windows-cuda-genai.zip
/models_local/
