/build

.idea
.claude
/deps
/dist-windows
/build-windows/

/scripts/*.safetensors
/scripts/*/*
/models/*/*.onnx
/models/*/*.data
/image-generation-windows.zip
/image-generation-windows-cuda.zip
/image-generation-windows-cuda-genai.zip
/models_local/
