[Desktop Entry]
Type=Application
Name=ImageGenerator
Comment=AI-powered image generation tool
Exec=/home/guillaume/Documents/image_generator/scripts/image_generator
Icon=/home/guillaume/Documents/image_generator/scripts/assets/icon.png
Categories=Game;
Terminal=false
